html, body {
    background: #333;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    font-family: arial;
    overflow: hidden;
}

#container {
    width: 816px;
    height: 624px;
    position: absolute;
    left: calc(50% - 408px);
    top: calc(50% - 312px);
    background: #222;
}

#tabList {
    background: #252525;
    width: 100%;
}

#pad {
    padding: 8px;
}

#padh {
    padding: 0px 8px;
}

ul, li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

li {
    padding: 4px;
    background: #333;
    border: solid 1px #555;
}

.used {
    border-bottom: solid 1px #222;
    background: #222;
}

input, textarea {
    font-family: arial;
    background: #222;
    border: solid 1px #555;
    width: calc(100% - 16px);
    color: white;
    box-shadow: 0px 0px 5px #434343;
}
h2 {
    margin: 0px;
    padding: 0px;
}
hr {
    border: none;
    height: 1px;
    background: #555;
    padding: 0px;
    margin: 12px;
    box-shadow: 0px 0px 5px #330000;
}